.bg-color {
    background-color: rgb(45, 52, 56);
    
}
body{
    background-color: rgb(188, 196, 193);
}
.top{
    margin-top: 100px;
    margin-bottom: 60px;
}

@media screen and (max-width:576px) {
    .top{
        margin-top: 56px;
        margin-bottom: 0px;
    }
}


.caption1 {
    margin-top: 20px;
    margin-left: 30px;
    color: rgb(150, 99, 99);
}
.caption1 h1{
    font-size: 40px;
}
@media screen and (max-width:768px) {
    .caption1 h1{
        font-size: 30px;
    }
}
@media screen and (max-width:576px) {
    .caption1 h1{
        font-size: 25px;
    }
}
.caption1 h3{
    text-decoration: underline;
}

.light-red{
    color: rgb(150, 99, 99);
}

.caption1 h6{
    font-size: 40px;
    
}

@media screen and (max-width:1400px) {
    .caption1 h6{
    font-size: 45px;
}
}
@media screen and (max-width:1200px) {
    .caption1 h6{
    font-size: 40px;
}
}
@media screen and (max-width:992px) {
    .caption1 h6{
    font-size: 35px;
}
}
@media screen and (max-width:768px) {
    .caption1 h6{
    font-size: 30px;
}
}
@media screen and (max-width:576px) {
    .caption1 h6{
    font-size: 25px;
}
}
.caption1 span{
    margin-right: 30px;
}

@media screen and (max-width:1400px) {
    .caption1 span{
        margin-right: 25px;
    }
}
@media screen and (max-width:1200px) {
    .caption1 span{
        margin-right: 20px;
    }
}
@media screen and (max-width:992px) {
    .caption1 span{
        margin-right: 16px;
    }
}
@media screen and (max-width:768px) {
    .caption1 span{
        margin-right: 14px;
    }
}
@media screen and (max-width:576px) {
    .caption1 span{
        margin-right: 10px;
    }
}

@font-face {
    font-family: lobster;
    src: url(../Assets/fonts/Lobster-Regular.ttf);
}

.lobster{
    font-family: lobster;
    line-height: 2;
}

@font-face {
    font-family: ferrum;
    src: url(../Assets/fonts/ferrum.otf);
}

.ferrum{
    font-family: ferrum;
    line-height: 2;
}

.caption1 ul{
    font-family: ferrum;
}
.caption1 h3{
    font-family: lobster;
}
.caption1 h4{
    font-family: ferrum;
}
.caption1 h5{
    font-family: ferrum;
}